@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  --primary: #AE8649;
  --primaryLight: #b6915a;
  --primaryDark: #473B29;
  --white: #F1F1F2;
  --whiteGray: #FCFCFD;
  --grayLighter: #D6D6D6;
  --grayDarker: #1D1D1D;
  --secondary: #666666;
  --gray: #2f2f2f;
}

.custom-modal-font,
.custom-modal-font * {
  font-family: 'font-yekan', sans-serif !important;
}


.dark input:-webkit-autofill,
.dark input:autofill {
  font-weight: 700;
  -webkit-text-fill-color: #1D1D1D !important;
}

@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';
